
html{
font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
  margin: 20px;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}
header {
  background: #0039A6;
  color: white;
  padding: 1rem;
}
header h1 {
  margin: 0;
}
/* Navigation Bar Styles */
nav {
  display: flex;         
  justify-content: flex-end; 
  align-items: center;      
  padding: 10px 20px;       
  background-color: #0039A6; 
  font-size: 25px;  
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
/* Main Content Styles */
main {
  padding: 2rem;
}

h2 {
  color: #0039A6;
}

footer {
  text-align: center;
  background: #eee;
  padding: 1rem;
  margin-top: 2rem;
}
/* Button Styles */
.button {
  background: #0039A6;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}
/* Graph Section Styles */
.graph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;     
  gap: 20px;
  text-align: center;
  padding-left: 20px;
}

h3{
    color: black;
    text-align: center;
}
/* Presentation Section Styles */
.Presentation{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;     
  gap: 20px;
  text-align: center;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Issue Section Styles */
#button .button {
  padding-top: 10px;
  padding-bottom: 15px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #0039A6;
  color: white;
  border-radius: 5px;
}

.issue {
  border: 2px solid #0039A6;
  border-radius: 10px;
  padding: 20px;
  margin-top: 23px;
  margin-bottom: 20px;
  background-color: #749ad2;
}

 .issue { 
  border: 2px solid #0039A6;
  border-radius: 10px; 
  padding:20px; 
  margin-top: 23px;
  margin-bottom: 20px;
  background-color: #e6f0ff; }

/* Video Section Styles */
.video-container {
  margin: 10px auto;    
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;     
  gap: 20px;
  text-align: center;
  padding: 10px 20px;  
}